{% include 'header.html'   %}
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side / Blog Single-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="blog-single">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{{blog.image.url}}" alt="" />
                            </div>
                            <div class="lower-box">
                                <div class="post-info"><i class="far fa-user"></i> By Admin &ensp;&ensp; <i class="far fa-calendar-alt"></i> {{blog.created}}</div>
                                <h2>{{blog.title}}</h2>
                                <div class="text">
                                    <p>{{blog.blog|safe}}</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                {% if 'recent_blogs' %}
                {% for blog in recent_blogs %}
                <!--Sidebar Side-->
                <div class="sidebar-side col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar right-sidebar">
                        <!--Popular Posts-->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h2>Recent Blogs</h2>
                            </div>
                            
                            <article class="post">
                                <a href="{% url 'blog_details' slug=blog.slug %}"><figure class="post-thumb"><img src="{{blog.image.url}}" alt="" /></figure></a>
                                <h4 class="text"><a href="{% url 'blog_details' slug=blog.slug %}">{{blog.title}}</a></h4>
                                <div class="post-info"><i class="far fa-clock"></i> {{blog.created}}</div>
                            </article>
                            
                        </div>

                    </aside>
                </div>

                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% include 'footer.html'   %}