{% load static %}
{% include 'header.html' %}
<!--Main Slider-->
<section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-1.jpg"> 

                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['650','650','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-40','-80','-80','-75']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2>We create living, breathing structures that inspire</h2>
                    </div>

                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','650','650','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['65','20','15','10']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="text">Together we ensure that each building fulfills their needs and goals, as unique manifestations of brand, mission and values</div>
                    </div>

                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['750','750','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['145','110','100','100']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <a href="about.html" class="theme-btn btn-style-three">learn more</a>
                    </div>
                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-2.jpg"> 

                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['750','750','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-40','-80','-80','-75']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2 class="alternate">We design spaces that uplift the people who experience them</h2>
                    </div>

                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','650','650','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['65','20','15','10']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="text alternate">Interiors are the essential settings of life, shaping how people work, play and learn</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','550','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['145','110','100','100']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <a href="about.html" class="theme-btn btn-style-three">learn more</a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>
<!--End Main Slider-->

<!--About Section-->
<section class="about-section-home">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="about-details col-md-12 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="sec-title style-two">
                        <div class="sub-title">From undulating skyscrapers to marvelous museums</div>
                        <h2>About <span>Aizen</span></h2>
                        <div class="separator"></div>
                    </div>
                    <div class="text">
                        <p>Building design at its visionary best engages, exhilarates, and inspires. It possesses a quality—almost indescribable—that embodies design ingenuity, connection to place, and, above all, imagination. But today’s architectural monuments aren’t meant only to be admired from afar.</p>
                        <p>Together they conceived an asymmetrical structure clad in a skin of LED-illuminated glass-and-steel bricks, which every evening gives Icelanders a show as dazzling as the northern lights.</p>
                    </div>
                </div>
            </div>
            <div class="about-details-image col-md-6 col-sm-12 col-xs-12">
                <div class="image">
                    <img src="images/resource/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section-->

<!--Project Section-->
<section class="project-section-home">
    <div class="auto-container">
        <div class="sec-title style-two centered">
            <h2>Our <span>Projects</span></h2>
            <div class="separator"></div>
        </div>
        <div class="projects-carousel owl-carousel owl-theme">
            <div class="item">
                <div><img src="images/resource/project-1.jpg" alt=""></div>
                <div class="info">
                    <h3><a href="project-single.html">Aqua Residence</a></h3>
                    <h4><a href="project-single.html">Architecture</a></h4>
                    <a href="project-single.html"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="item">
                <div><img src="images/resource/project-2.jpg" alt=""></div>
                <div class="info">
                    <h3><a href="project-single.html">Box Perspective</a></h3>
                    <h4><a href="project-single.html">Engineering</a></h4>
                    <a href="project-single.html"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="item">
                <div><img src="images/resource/project-3.jpg" alt=""></div>
                <div class="info">
                    <h3><a href="project-single.html">Bricks High</a></h3>
                    <h4><a href="project-single.html">Consulting</a></h4>
                    <a href="project-single.html"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="item">
                <div><img src="images/resource/project-4.jpg" alt=""></div>
                <div class="info">
                    <h3><a href="project-single.html">Rustic Nature</a></h3>
                    <h4><a href="project-single.html">Interior</a></h4>
                    <a href="project-single.html"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="item">
                <div><img src="images/resource/project-5.jpg" alt=""></div>
                <div class="info">
                    <h3><a href="project-single.html">Pool Party</a></h3>
                    <h4><a href="project-single.html">Construction</a></h4>
                    <a href="project-single.html"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="item">
                <div><img src="images/resource/project-6.jpg" alt=""></div>
                <div class="info">
                    <h3><a href="project-single.html">Bar Concept</a></h3>
                    <h4><a href="project-single.html">Interior</a></h4>
                    <a href="project-single.html"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center">
        <a href="projects.html" class="theme-btn btn-style-one">more projects</a>
    </div>
</section>
<!--End Project Section-->

<!--Services Section Two-->
<section class="services-section-two" style="background-image:url(images/background/1.jpg)">
    <div class="section-inner">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <h2>Our Services</h2>
            <div class="sub-title">a force for activating cities and reenergizing cultures</div>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <img src="images/services/icon-1.svg" alt="">
                    </div>
                    <h3><a href="services-single.html">Architecture</a></h3>
                    <div class="text">Provides an opportunity to not only add beauty and structure to the world, but to profoundly improve the conditions for people.</div>
                    <a class="read-more" href="services-single.html">read more <span class="icon fa fa-angle-double-right"></span></a>
                </div>
            </div>
            
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <img src="images/services/icon-2.svg" alt="">
                    </div>
                    <h3><a href="services-single.html">Consulting & Planning</a></h3>
                    <div class="text">Our team’s analytical tools and user engagement activities inspire creativity and collaboration that enhance any project.</div>
                    <a class="read-more" href="services-single.html">read more <span class="icon fa fa-angle-double-right"></span></a>
                </div>
            </div>
            
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <img src="images/services/icon-3.svg" alt="">
                    </div>
                    <h3><a href="services-single.html">Construction</a></h3>
                    <div class="text">Across our firm, we employ a diverse range of professionals with a successful record delivering high-quality projects.</div>
                    <a class="read-more" href="services-single.html">read more <span class="icon fa fa-angle-double-right"></span></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--End Services Section Two-->

<!--Counter Section-->
<div class="counter-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>Interesting Facts</h2>
            <div class="sub-title">A summary of our challenges translated into numbers</div>
            <div class="separator">
                <span class="dott"></span>
                <span class="dott"></span>
                <span class="dott"></span>
            </div>
        </div>
    </div>
    <div class="fact-section" style="background-image:url(images/background/2.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title Column-->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <div class="title-inner">
                        <div class="number">15</div>
                        <div class="text">years transforming places and creating plans that improve life</div>
                    </div>
                </div>
                <div class="counter-column col-md-6 col-sm-12 col-xs-12">
                    
                    <div class="fact-counter">
                        <div class="auto-container">
                            <div class="row clearfix">
                            
                                <!--Column-->
                                <div class="column counter-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="220">0</span>
                                        </div>
                                        <h4 class="counter-title">Certified Engineers</h4>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="180">0</span>
                                        </div>
                                        <h4 class="counter-title">Happy Clients</h4>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="600">0</span>
                                        </div>
                                        <h4 class="counter-title">Awards Won</h4>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="260">0</span>
                                        </div>
                                        <h4 class="counter-title">Projects Done</h4>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Counter Section-->

<!--News Section-->
<section class="news-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Latest News</h2>
            <div class="sub-title">Learn more about design tips and construction trends</div>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">

            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <a href="blog-single.html">
                        <div class="image">
                            <img src="images/resource/news-thumb-1.jpg" alt="" />
                        </div>
                    </a>
                    <div class="lower-box">
                        <div class="post-date"><i class="far fa-calendar-alt"></i> March 29, 2021</div>
                        <h3><a href="blog-single.html">Everything You Need to Know About Minimalist Design</a></h3>
                        <div class="text">Clean lines, reductive, uncluttered, monochromatic, simplicity, "less is more" these are some of the terms and concepts.</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <a href="blog-single.html">
                        <div class="image">
                            <img src="images/resource/news-thumb-2.jpg" alt="" />
                        </div>
                    </a>
                    <div class="lower-box">
                        <div class="post-date"><i class="far fa-calendar-alt"></i> March 22, 2021</div>
                        <h3><a href="blog-single.html">Organizing Ideas To Give Your Office The Ultimate Upgrade</a></h3>
                        <div class="text">Home offices are all the rage right now. Yours could be the headquarters for a small business, questionably relevant papers, or homework central.</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <a href="blog-single.html">
                        <div class="image">
                            <img src="images/resource/news-thumb-3.jpg" alt="" />
                        </div>
                    </a>
                    <div class="lower-box">
                        <div class="post-date"><i class="far fa-calendar-alt"></i> March 15, 2021</div>
                        <h3><a href="blog-single.html">How to Decorate Your Kitchen with Subway Tiles</a></h3>
                        <div class="text">It doesn't matter what your design aesthetic is or how much space you have, one thing's for sure: Subway tiles are a failsafe.</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End News Section-->

<!--Testimonial Section-->
<section class="clients-section  grey-bg">
    <div class="auto-container">
        <div class="title-box">
            <div class="title">Our work is defined by so much more than just recognition</div>
            <h2>Trusted by hundreds of clients around the country</h2>
            <div class="separator"></div>
        </div>
        
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.jpg" alt=""></a></figure></li>
            </ul>

        </div>
    </div>
</section>
<!--End Testimonial Section-->
{% include 'footer.html' %}
